:root {
  --primary: #a31629;
  --secondary: #154340;
  --bg-primary: #0a2127;
  --bg-secondary: #5f9295;
  
  --text-primary: #F5F5F5;
  --text-secondary: #d6d6d6;

  --black: black;
  --green: green;
  --white: white;
  
  --hoverEffectButtonColor: #adadad77;

  --navSize: 9rem;
}
