/* Mixins */
@import "@/styles/_inputs.scss";
@import "@/styles/_buttons.scss";

.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  color: white;
  h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    input {
      @include input-md;
      color: var(--black);
      width: 100%;
    }
    button {
      @include button-md;
      background-color: var(--black);
      width: 100%;
    }
  }
}
